/* 字体大小 rem 单位兼容 */
@mixin font-size ($px) {
  font-size: #{$px}px;
  font-size: #{$px}rem;
}
/* button 样式复用模块 */
@mixin button-style ($face-color, $bg-color) {
  &:not([disabled]):hover{
		color: #{$face-color}EE;
		border-color: #{$bg-color}BF;
    background-color: #{$bg-color}BF;
  }
  &, &:active{
		color: #{$face-color};
    border-color: #{$bg-color};
		background-color: #{$bg-color};
  }
}
