@charset "UTF-8";
@import "normalize.css";

// 所有元素初始化
* {
    // border: 0;
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
    // outline: none;
    // list-style-type: none;
    // text-decoration: none;
    // font: inherit;
    // line-height: inherit;
    // color: inherit;
    // background-color: transparent;
    // vertical-align: inherit;
    // text-align: inherit;
}

html {
    // 防止有些自带底色的浏览器 比如 steam 内置浏览器
    background-color: #fff;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Avenir', 'Microsoft YaHei', 'Monaco', Helvetica, Arial, sans-serif, 'Consolas';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    vertical-align: baseline;
    text-align: left;
    // line-height: 1.5;

    // qq浏览器x5内核兼容机制，为了在移动设备上，防止部分文本内容被放大字体(去除字体在手机qq浏览器中迷之放大的BUG)
    * {
        max-height: 999999999999px;
    }
}

a {
    color: inherit;
}

code,
kbd,
samp {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    line-height: 1.45;
    padding: 16px;
    overflow: auto;
    margin: 1em 0px;

    // &::selection,
    // ::selection {
    //     background-color: rgba(255, 255, 255, .1);
    // }
}

code {
    display: inline-block;
    line-height: 1;
    background-color: #F3F4F4;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    margin: 0;
}

kbd {
    display: inline-block;
    color: #fff;
    font-size: 0.75em;
    background-color: #7b95af;
    margin: 0 calc(1em / 12);
    min-width: calc(16em / 12);
    height: calc(16em / 12);
    line-height: 1em;
    text-align: center;
    border-radius: calc(3em / 12);
    padding: calc(2em / 12) calc(4em / 12);
    text-shadow: 0 0 calc(1em / 12) #000;
    box-shadow: calc(1em / 12) calc(1em / 12) calc(1em / 12) 0 rgba(0, 0, 0, 0.5),
        calc(-1em / 12) calc(-1em / 12) calc(1em / 12) 0 rgba(0, 0, 0, 0.5) inset;
}

img {
    display: inline-block;
    width: auto;
    height: auto;
    border-style: none;
}

input {
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}

table {
    border-spacing: 0px 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: 1px solid #ccc;
}

th {
    font-size: 16px;
    font-weight: 700;
}

td {
    text-align: center;
}

// 清除浮动
.clear:after {
    display: block;
    content: "";
    clear: both;
}

// 文本溢出显示省略号
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// // 为了压缩效果才写成这样。。
// // 支持多行省略
// @for $i from 1 through 10 {
//     .ellipsis-#{$i} {
//         // 只有 -webkit-box 有效，flex 无效
//         display: -webkit-box;
//         -webkit-box-orient: vertical;
//         overflow: hidden;
//         line-height: 1.5;
//     }
// }

// @for $i from 1 through 10 {
//     .ellipsis-#{$i} {
//         -webkit-line-clamp: #{$i};
//     }
// }

// .ellipsis-multi {
[class*="ellipsis-multi-"] {
    // 只有 -webkit-box 有效，flex 无效
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
    -webkit-line-clamp: var(--line-clamp, 2);
}

@for $i from 1 through 10 {
    .ellipsis-multi-#{$i} {
        --line-clamp: #{$i};
    }
}

// 不支持火狐，IE 和 Chrome 下显示有差异
// 英文和数字中间空格隔开，IE 和 Chrome 的效果就会相同
.justify {
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
	padding: 0;
	height: 20px;
	font-size: 14px;
	line-height: calc(20px - 3px * 2);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.justify:after {
		content: "";
		display:  inline-block;
		width: 100%;
		overflow: hidden;
		height: 0;
	}
}

.ps-bg,
.transparent-background-of-photoshop {
	background: linear-gradient(to top right, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
                linear-gradient(to top right, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
	background-size: 20px 20px;
	background-position: 0px 0px, 10px 10px;
}

.ant-line {
	border: 1px solid transparent;
	background: linear-gradient(white,white) padding-box,
                repeating-linear-gradient( -45deg, currentColor 0%, currentColor 25%, white 0%, white 50%) 0 / 8.4px 8.4px;
	animation: antLine 0.5s linear infinite;
}

@keyframes antLine { to { background-position: 8.4px; } }
